six==1.15.0
functools32==3.2.3-2
attrs==17.4.0
setuptools==44.1.1
idna==2.5
urllib3==1.24.3
certifi==2022.12.7
chardet==3.0.2
pyrsistent==0.16.1
JsonForm==0.0.2
jsonschema==3.0.1
JsonSir==0.0.2
lazy-object-proxy==1.2.2
python-dateutil==2.6.1
paho-mqtt==1.4.0
uuid==1.30
requests==2.20.0
